.ltr{
    transform: translateX(-20px);
    transition: all 1s ease 0s;
    opacity: 0;
}
.ltr.on{
    transform: translateX(0);
    opacity: 1;
}
.btr{
    transform: translateY(20px);
    transition: all 2s ease 0s;
    opacity: 0;
}
.btr.on{
    transform: translateY(0);
    opacity: 1;
}