.bg-vi{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
} 
.bg-vi video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero {
    background-color: #FCFDF9;
    height: 120vh;
    width: 100%; /* 70vw에서 100%로 변경 */
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}
.hero .sub-title{
    margin-top: 200px;
}
.hero-title{
    text-align: left;
    margin-right: 2rem;
}
.hero-title h1{
    font-size: 46px;
    line-height: 90%;
    margin-top: 0.5rem;
}
.bottom-title{
    margin-top: 180px;
    text-align: right;
    margin-right: 2rem;
    width: 100%;
}
.hero figure {
    width: 800px;
    position: absolute;
    bottom: 200px;
    left: -6%;
}
.hero figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.deco1 {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    border-left: 2px solid #fff;
    color: #fff;
    display: flex;
    align-items: flex-end;
    z-index: 200;
}
.txt-r {
    transform: rotate(90deg);
    margin-bottom: 110px;
    white-space: nowrap;
    margin-left: -47px;
}
.about-me{
    background-color: #000;
    color: #fff;
    min-height: 500px;
    width: 100%;
    padding-bottom: 6rem;
}
.about{
    position: relative;
    min-height: 100vw;
    display: flex;
}
.about-title{
    padding-top: 6rem;
}
.about-title h1{
    font-size: 40px;
    margin-top: 0.25rem;
}
.about-txt{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.about-txt h3{
    margin-bottom: 1rem;
}
.txt1{
    margin-left: 20%;
}
.txt2{
    margin-left: 40%;
}
.txt3{
    margin-left: 60%;
}
.about figure {
    max-width: 433px;
    aspect-ratio: 433/592;
    position: absolute;
    top: 800px;
    left: 0;
}
.about figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-txt-wrap{
    flex: 85;
}
.ch {
    flex: 5;
    position: sticky;
    height: 100vh;
    top:0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    white-space: nowrap;
}
.ch-count{
    font-size: 1.5rem;
    font-weight: var(--weight1);
    margin-bottom: 0.5rem;
}
.ch-txt{
    writing-mode: vertical-lr;
    transform: rotate(0deg);
}
.img-txt{
    margin-left: 40%;
    margin-top: 14%;
}
.img-txt h2{
    margin-bottom: 0.5rem;
}
.my-info {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.my-info div{
    display:  flex;
    gap: 1rem;
    width: 100%;
}
.my-info dt{
    width: 130px;
    font-weight: var(--weight1);
}
.education, .certifications {
    display: flex;
    align-items: center;
    margin-top: 200px;
    gap: 1rem;
    align-items: flex-start;
}
.education hr {
    flex: 2;
    margin-top: 14px;
    color: rgba(255, 255, 255, 0.7);
}
.education-wrap h3,
.certifications-wrap h3{
    margin-bottom: 1rem;
    white-space: nowrap;
}
.education-wrap{
    flex: 9;
}
.education-wrap{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.education-wrap span {
    margin-right: 1rem;
    white-space: nowrap;
}
.education-wrap ul li,
.certifications-wrap ul li{
    margin-top: 0.5rem;
    display: flex;
}
.education-wrap ul li br{
    display: none;
}
.certifications hr {
    flex: 3;
    margin-top: 14px;
    color: rgba(255, 255, 255, 0.7);
}
.certifications-wrap{
    flex: 5;
}
.certifications-wrap ul li{
    width: 100%;
    display: flex;
    max-width: 889px;
}
.certifications-wrap span{
    display: inline-block;
    width: 132px;
    margin-right: 1rem;
    flex-shrink: 0;/
}
.certifications-wrap ul li div{
    flex: 3;
    display: flex;
}
.certifications-wrap ul li em{
    font-style: inherit;
    flex-shrink: 0;
    margin-left: 1rem;
    flex: 1;
}
.skills{
    margin-top: 200px;
}
.skills-wrap ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem 1rem;
    margin-top: 3rem;
}
.skills-wrap ul li {
    padding: 2rem;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.skills-wrap ul li h4{
    margin-bottom: 3rem;
}
.skills-wrap ul li:hover{
    background-color: #fff;
    color: #000;
}
.popup{
    background-color: #FCFDF9;
    margin-left: 20%;
    padding: 6rem 3rem 6rem 3rem;
    display:  flex;
}
.popup-title{
    margin-bottom: 4rem;
}
.popup-title h3{
    margin-bottom: 3rem;
}
.popup-wrap {
    /* flex: 8; */
    width:80%;
}
.popup-slide {
    width: 100%;
    margin: 0;
}
.swiper-slide{
    /* display: flex;
    gap: 1rem; */
}
.swiper-backface-hidden .swiper-slide {
    /* backface-visibility: hidden;
    transform: translateZ(0); */
    /* display: flex; */
}
.swiper-backface-hidden .swiper-slide:after {
    content:"";
    display: block;
    border: 1px solid #000;
    height: 386px;
}
.swiper-backface-hidden .swiper-slide hr{
    display: none;
}
.swiper-wrapper {
    /* gap: 6rem; */
}
.slide1{
    margin-top: 0;
}
.slide2{
    margin-top: 3rem;
}
.slide3{
    margin-top: 6rem;
}
.popup-slide-wrap h3{
    margin-top: 4rem;
    margin-bottom: 6rem;
}
.popup-slide-wrap h4{
    margin-bottom: 0.5rem;
}
.popup-slide-wrap .popup-img{
    margin-top: 1rem;
}
.ch2 {
    color: #000;
    /* flex: 2; */
    width: 20%;
    flex: initial;
}
@media (max-width:1430px){
    .ch{
        flex:7
    }
}