@media (max-width:1024px) {
    .header-smart {
        width: 20%;
    }
    .header-smart{
        font-size: 14px;
    }
    .btn-menu{
        right: calc(9.5% - 0.75rem);
    }
    .hero-title h1,
    .contact-title h1{
        font-size: 40px;
    }
    .hero .sub-title,
    .contact .sub-title {
        margin-top: 160px;
    }
    .hero figure,
    .contact  figure{
        width: 550px;
    }
    .txt1{
        margin-left: 0;
    }
    .txt2{
        margin-left: 80px;
    }
    .txt3{
        margin-left: 160px;
    }
    .about-txt-wrap{
        flex: 7;
    }
    .ch{
        flex:1;
    }
    .about-title h1 {
        font-size: 35px;
        margin-top: 0.25rem;
    }
    .about figure {
        max-width: 301px;
        }
    .img-txt {
        margin-left: 40%;
        margin-top: 20%;
    }
    .education::before {
        flex: 1;
    }
    .certifications::before {
        flex: 2;
    }
    .poster-wrap {
        padding: 6rem 2rem;
        margin-right: 0;
        /* margin-right: 3%; */
    }
    .ch3 {
        flex: none;
    }
    .banner-wrap {
    width: 87%;
}
}