@media (max-width:768px) {
    .header-smart {
        width: 60%;
    }
    .btn-menu {
        right: calc(3.5% - 0.75rem);
    }
    .hero, .contact {
        max-width: 100%;
        width: 100%;
        height: 70vh;
        margin-bottom: 10%;
    }
    .contact{
        margin-top: 10%;
        height: 84vh;
    }
    .hero-title, .contact-title{
        text-align: left;
        margin-right: 1rem;
        /* margin-left: 1rem; */
        margin-left: 1rem;
    }
    .hero-title h1,
    .contact-title h1{
        font-size: 30px;
    }
    .hero .sub-title,
    .contact .sub-title {
        margin-top: 120px;
    }
    .hero figure,
    .contact figure {
        bottom: 55px;
        width: 100%;
    }
    .deco1{
        display: none;
    }
    .bottom-title{
        margin-right: 1rem;
        margin-top: 80px;
    }
    .about-txt-wrap{
        flex: 4;
    }
    .about-txt{
        width: 100%;
    }
    .about {
        position: relative;
        display: flex;
        align-items: flex-start;
    }
    .ch {
        /* flex: 0.4; */
        flex: none;
        top: 50px;
        right: 0;
        width: 30px;
        justify-content: flex-start;
        align-items: flex-end;
        padding-top: 82px;
        height: auto;
        position: sticky
    }
    .txt1{
    margin-left: 0;
    }
    .txt2{
        margin-left: 0;
    }
    .txt3{
        margin-left: 0;
    }
    .about-title h1 {
    font-size: 25px;
    }
    .about figure {
       max-width: 100%;
        position: static;
        margin-top: 3rem;
    }
    .img-txt {
        margin-left: 0;
        margin-top: 20%;
    }
    .education-wrap ul li br{
        display: block;
    }
    .education hr{
        flex: 0.5;
        margin-top: 10px;
    }
    .certifications hr {
        flex: 0.3;
        margin-top: 10px;
    }
    .education-wrap ul li{
        display:  flex; 
    }
    .education-wrap span {
        display: inline-block;
        width: 66px;
        margin-right: 1rem;
        white-space: nowrap;
    }
    .certifications-wrap ul li {
        flex-direction: column;
        margin-bottom: 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.302);
        padding-bottom: 1rem;
    }
    .certifications-wrap ul li em {
        margin-left: 0;
        font-size: 0.9rem;
        margin-top: 0.5rem;
    }
    .education, .certifications {
        margin-top: 10rem;
    }
    .skills {
        margin-top: 10rem;
    }
    .skills-wrap ul {
        grid-template-columns: repeat(2,1fr);
    }
    .skills-wrap ul li {
        padding: 1rem;
    }
    .skills-wrap ul li h4 {
        margin-bottom: 2rem;
    }
    .popup {
        margin-left: 0;
        margin-top: 10%;
        padding: 6rem 1rem 6rem 1rem;
        align-items: flex-start;
    }
    .popup .popup-wrap{
        max-width: 95%;
    }
    .education::before {
        flex: none;
        width: 20px;
    }
    .popup-slide-wrap h3 {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .slide2{
        margin-top: 0;
    }
    .slide3{
        margin-top: 0;
    }
    .certifications::before {
        flex: none;
        width: 20px;
    }
    .ch2 {
        height: auto;
        padding: 0;
    }
    .poster {
        display: flex;
        margin-right: 0;
        margin-top: 10%;
        width: 100%;
        position: relative;
    }
    .poster-wrap {
        /* width: 100%; */
        margin-right: 0;
        display: flex;
        padding: 6rem 1rem;
    }
    .poster-wrap .common-frame{
        /* display: flex; */
        /* width: 97%; */
        justify-content: space-between;
        gap: 1rem;
    }
    .poster-wrap2 {
        width: 88%;
        /* padding-right: 1rem; */
        box-sizing: border-box;
        min-height: 0;
        height: auto;
        flex: 1;
        min-width: 0;
    }
    .poster-slide-wrap h3 {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .ch3 {
        display: none;
        margin-right: 0;
        padding: 0;
    }
    .poster-wrap .ch3 {
        display: flex;
    }
    .banner {
        margin-top: 10%;
    }
    .banner-txt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }
    .banners{
        text-align: center;
    }
    .banner .common-frame .ch{
        color: #000;
        padding-top: 6rem;
    }
    .banner .common-frame h2 {
        text-align: left;
    }
    .banner .common-frame p {
        text-align: left;
    }
    .banner-wrap {
        width: 96%;
        /* flex: 8; */
    }
    .ch4{
        color: #000;
        padding-top: 6rem;
    }
    .project-wrap2 h3,
    .project-wrap2 p{
        text-align: left;
    }
    .project-wrap h3{
        text-align: left;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .project-wrap p{
        text-align: left;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .project-frame{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
@media (max-width:450px){
    .btn-menu {
        right: calc(5.5% - 0.75rem);
    }
    .bottom-title {
        max-width: 80%;
    }
    .skills-wrap ul {
        grid-template-columns: repeat(1,1fr);
    }
    .banner-wrap {
    width: 93%;
}
}
@media (max-width:320px){
    .btn-menu {
        right: calc(7.5% - 0.75rem);
    }
    .hero figure,
    .contact figure {
        bottom: 70px;
    }
    .contact {
    margin-top: 10%;
    height: 94vh;
}
    .about-txt-wrap {
        flex: 3;
    }
    .certifications-wrap ul li div {
        display: flex;
        flex-direction: column;
    }
    .my-info dt {
        width: 80px;
    }
    .skills-wrap ul li h4 {
        margin-bottom: 2rem;
    }
    .poster-wrap .common-frame {
    width: 89%;
    }
}