@media (max-width:1024px) {
    .hero-title h1{
        font-size: 40px;
    }
    .hero .sub-title {
        margin-top: 160px;
    }
    .hero figure {
        width: 550px;
    }
    .txt1{
        margin-left: 0;
    }
    .txt2{
        margin-left: 80px;
    }
    .txt3{
        margin-left: 160px;
    }
    .about-txt-wrap{
        flex: 7;
    }
    .ch{
        flex:1;
    }
    .about-title h1 {
        font-size: 35px;
        margin-top: 0.25rem;
    }
    .about figure {
        max-width: 301px;
        }
    .img-txt {
        margin-left: 40%;
        margin-top: 20%;
    }
}