@media (max-width:786px) {
    .hero{
        width: 100vw;
        height: 70vh;
    }
    .hero-title{
        text-align: left;
        margin-right: 1rem;
        /* margin-left: 1rem; */
        margin-left: 1rem;
    }
    .hero-title h1{
        font-size: 30px;
    }
    .hero .sub-title {
        margin-top: 120px;
    }
    .deco1{
        display: none;
    }
    .bottom-title{
        margin-right: 1rem;
        margin-top: 80px;
    }
    .hero figure {
        width: 100%;
    }
    .about-txt-wrap{
        flex: 4;
    }
    .about-txt{
        width: 100%;
    }
    .ch {
        flex: 0.4;
        justify-content: flex-start;
        align-items: flex-end;
        padding-top: 82px;
    }
    .txt1{
    margin-left: 0;
    }
    .txt2{
        margin-left: 0;
    }
    .txt3{
        margin-left: 0;
    }
    .about-title h1 {
    font-size: 25px;
    }
    .about figure {
       max-width: 100%;
        position: static;
        margin-top: 3rem;
    }
    .img-txt {
        margin-left: 0;
        margin-top: 20%;
    }
    .education-wrap ul li br{
        display: block;
    }
    .education hr{
        flex: 0.5;
        margin-top: 10px;
    }
    .certifications hr {
        flex: 0.3;
        margin-top: 10px;
    }
    .education-wrap ul li{
        display:  flex; 
    }
    .education-wrap span {
        display: inline-block;
        width: 66px;
        margin-right: 1rem;
        white-space: nowrap;
    }
    .certifications-wrap ul li {
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .certifications-wrap ul li em {
        margin-left: 0;
        font-size: 0.9rem;
        margin-top: 0.5rem;
    }
    .education, .certifications {
        margin-top: 10rem;
    }
    .skills {
        margin-top: 10rem;
    }
    .skills-wrap ul {
        grid-template-columns: repeat(2,1fr);
    }
    .skills-wrap ul li {
        padding: 1rem;
    }
    .skills-wrap ul li h4 {
        margin-bottom: 2rem;
    }
}
@media (max-width:450px){
    .skills-wrap ul {
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:320px){
    .hero figure {
        bottom: 70px;
    }
    .about-txt-wrap {
        flex: 3;
    }
    .certifications-wrap ul li div {
        display: flex;
        flex-direction: column;
    }
    .my-info dt {
        width: 80px;
    }
    .skills-wrap ul li h4 {
        margin-bottom: 2rem;
    }
}