.btn-wrapper {
    transform: translateX(-50%);
    width: 100%;
    max-width: 1920px;
    position: fixed;
    height: auto;
    top: 0;
    left: 50%;
    z-index: 10000;
    /* mix-blend-mode: difference; */
}
.btn-menu {
    position: fixed;
    display: block;
    top: 2rem;
    right: calc(5.8% - 0.75rem);
    width: 1.5rem;
    height: 1.5rem;
    aspect-ratio: 1/1;
    z-index: 10001;
    cursor: pointer;
}
.btn-menu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transition: opacity 0.3s ease; */
}
.header-smart {
    position: fixed;
    background-color: #FCFDF9;
    top: 0;
    right: 0;
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    z-index: 10000000;
    width: 15%;
    overflow: auto;
    transform: translateX(100%);
    transition: all 0.5s ease-in 0s;
    opacity: 100%;
    font-size: 18px;
}
.header-smart.on{
    transform: translateX(0);
}
.header-smart ul{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}
.gnb li{
    font-weight: var(--weight1);
    padding: 0.25rem;
    text-transform: capitalize;
    position: relative;
    text-align: center;
}
.gnb li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: width 0.3s ease;
}
.gnb li:hover::after {
    width: 100%;
}
.bg-vi {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    left: 50%;
    top: 0;
    z-index: -1;
    max-width: 1920px;
    transform: translateX(-50%);
}
.close-btn{
    cursor: pointer;
}
.bg-vi video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero {
    background-color: #FCFDF9;
    height: 115vh;
    width: 100%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    max-height: 953px;
}
.hero .sub-title,
.contact .sub-title{
    margin-top: 200px;
}
.hero-title,
.contact-title{
    text-align: left;
    margin-right: 2rem;
}   
.hero-title h1,
.contact-title h1{
    font-size: 46px;
    line-height: 90%;
    margin-top: 0.5rem;
}
.bottom-title{
    margin-top: 180px;
    text-align: right;
    margin-right: 2rem;
    width: 100%;
}
.hero figure,
.contact figure {
    width: 800px;
    position: absolute;
    bottom: 200px;
    left: -6%;
}
.hero figure img,
.contact figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.deco1 {
    height: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    border-left: 2px solid #FCFDF9;
    color: #FCFDF9;
    display: flex;
    /* align-items: flex-end; */
    z-index: 200;
    mix-blend-mode: difference;
    max-width: 1920px;
    width: 100%;
    /* margin: 0 auto; */
    transform: translateX(-50%);
    justify-content: flex-end;
}
.txt-r {
    border-left: 1px solid rgba(255, 255, 255, 0.639);
}
.txt-r span {
    transform: rotate(90deg)translateY(-6px)translateX(780px);
    margin-bottom: 110px;
    white-space: nowrap;
    margin-left: -47px;
    display: inline-block;
}
.about-me{
    background-color: #000;
    color: #fff;
    min-height: 500px;
    width: 100%;
    padding-bottom: 6rem;
}
.about{
    position: relative;
    min-height: 100vw;
    display: flex;
}
.about-title{
    padding-top: 6rem;
}
.about-title h1{
    font-size: 40px;
    margin-top: 0.25rem;
}
.about-txt{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    z-index: 1;
}
.about-txt h2{
    margin-bottom: 1rem;
}
.txt1{
    margin-left: 20%;
}
.txt2{
    margin-left: 40%;
}
.txt3{
    margin-left: 60%;
}
.about figure {
    max-width: 433px;
    aspect-ratio: 433/592;
    position: absolute;
    top: 800px;
    left: 0;
    z-index: 0;
}
.about figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-txt-wrap{
    flex: 85;
}
.ch {
    /* flex: 5; */
    position: sticky;
    height: 100vh;
    top: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 150;
    white-space: nowrap;
    width: 5rem;
}
.ch-count{
    font-size: 1.5rem;
    font-weight: var(--weight1);
    margin-bottom: 0.5rem;
}
.ch-txt{
    writing-mode: vertical-lr;
    transform: rotate(0deg);
}
.img-txt{
    margin-left: 40%;
    margin-top: 14%;
}
.img-txt h2{
    margin-bottom: 0.5rem;
}
.my-info {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.my-info div{
    display:  flex;
    gap: 1rem;
    width: 100%;
}
.my-info dt{
    width: 130px;
    font-weight: var(--weight1);
}
.education, .certifications {
    display: flex;
    align-items: center;
    margin-top: 200px;
    gap: 1rem;
    align-items: flex-start;
}
.education-wrap h2,
.certifications-wrap h2{
    margin-bottom: 1rem;
    white-space: nowrap;
}
.education-wrap{
    flex: 9;
}
.education-wrap{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.education-wrap span {
    margin-right: 1rem;
    white-space: nowrap;
}
.education-wrap ul li,
.certifications-wrap ul li{
    margin-top: 0.5rem;
    display: flex;
}
.education-wrap ul li br{
    display: none;
}
.education::before {
    content: "";
    flex: 2;
    height: 2px;
    margin-top: 14px;
    background-color: rgba(255, 255, 255, 0.7);
}
.certifications::before {
    content: "";
    flex: 3;
    height: 2px;
    margin-top: 14px;
    background-color: rgba(255, 255, 255, 0.7);
}
.certifications-wrap{
    flex: 5;
}
.certifications-wrap ul li{
    width: 100%;
    display: flex;
    max-width: 889px;
}
.certifications-wrap span{
    display: inline-block;
    width: 132px;
    margin-right: 1rem;
    flex-shrink: 0;/
}
.certifications-wrap ul li div{
    flex: 3;
    display: flex;
}
.certifications-wrap ul li em{
    font-style: inherit;
    flex-shrink: 0;
    margin-left: 1rem;
    flex: 1;
}
.skills{
    margin-top: 200px;
}
.skills-wrap ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem 1rem;
    margin-top: 3rem;
}
.skills-wrap ul li {
    padding: 2rem;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.skills-wrap ul li h4{
    margin-bottom: 3rem;
}
.skills-wrap ul li:hover{
    background-color: #fff;
    color: #000;
}
.popup{
    background-color: #FCFDF9;
    margin-left: 20%;
    padding: 6rem 3rem 6rem 3rem;
    display:  flex;
    min-height: 50vh;
    /* min-height: 500px; */
     /* width: 80%;
     box-sizing: border-box; */
}
.popup-title{
    margin-bottom: 2rem;
}
.popup-title h2{
    margin-bottom: 3rem;
}
.popup-wrap {
    flex: 34;
    /* max-width: 1435px; */
    min-width: 0;
    /* width:80%; */
}
.popup-slide, .poster-slide {
    width: 100%;
    /* max-width: 1435px; */
    margin: 0;
}
.popup-slide .swiper-backface-hidden .swiper-slide:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #000;
}
.popup-slide-wrap:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    /* top이랑 bottom으로 이렇게 하면 100%보다 더 정확하게 위에서 아래까지 채워진다는 의미라고 함
    height: 100% = "부모 높이의 100%를 계산해줘" (계산 오류 가능)
    위에서 0px, 아래에서 0px" = 부모의 실제 컨텐츠 영역만큼 정확히 늘어남*/
    width: 2px;
    background-color: #000;
}
.swiper-scrollbar {
    display: none; /* 스와이퍼의 스타일 중 하나를 변경하는 건 괜찮다고는 함 */
}
.popup-slide-wrap{
    position: relative;
    padding-left: 1rem;
}
.slide1{
    margin-top: 0;
}
.slide2{
    margin-top: 3rem;
}
.slide3{
    margin-top: 6rem;
}
.popup-wrap .swiper {
    margin-left: 0;
    margin-right: 0;
}
.popup-slide-wrap h3{
    margin-top: 4rem;
    margin-bottom: 6rem;
}
.popup-slide-wrap h4{
    margin-bottom: 0.5rem;
}
.popup-slide-wrap .popup-img{
    margin-top: 1rem;
}
.popup-img img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-width: 489px;
}
.ch2 {
    color: #000;
    /* flex: 3; */
    height: auto;
}
.poster {
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
    min-height: 60vh;
}
.poster-wrap {
    background-color: #000;
    color: #fff;
    /* max-width: 1500px; */
    width: 80%;
    padding: 6rem 3rem;
}
.poster-title{
    margin-bottom: 4rem;
}
.poster-title h2{
    margin-bottom: 3rem;
}
.poster-slide {
    width: 100%;
    /* max-width: 1435px; */
    margin: 0;
    border-top: 1px solid #fff;
    /* margin-top: 2rem; */
}
.poster-slide .swiper-slide:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #fff;
}
.poster-slide-wrap:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #fff;
}
.poster-slide-wrap{
    position: relative;
    padding-left: 1rem;
}
.poster-wrap .swiper {
    margin-left: 0;
    margin-right: 0;
}
.poster-slide-wrap h3{
    margin-top: 4rem;
    margin-bottom: 6rem;
}
.poster-slide-wrap h4{
    margin-bottom: 0.5rem;
}
.poster-slide-wrap .popup-img{
    margin-top: 1rem;
}
.popup-img img{
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.poster-img{
    margin-top: 1rem;
}
.ch3 {
    color: #fff;
    /* flex: 3; */
    height: auto;
}
.poster-wrap>.ch3{
    display: none;
}
.banner{
    background-color: #FCFDF9;
    padding-bottom: 6rem;
    min-height: 50vh;
}
.banner .common-frame h2{
    padding-top: 6rem;
    margin-bottom: 3rem;
    text-align: center;
}
.banner-wrap {
    width: 94%;
    flex-grow: 0;
}
.banner .banner-wrap>p{
    text-align: center;
}
.banner-slide{
    margin-top: 2rem;
    width: 95%;
    padding-right: 10%;
}
.banner-txt{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.banner-txt h4{
    flex: 5;
}
.banner-txt p{
    flex: 5;
}
.banner .common-frame{
    display: flex;
}
.project{
    margin-top: 10%;
    padding-bottom: 6rem;
    background-color: #fff;
}
.project-wrap{
    width: 100%;
}
.project-wrap h2{
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 6rem;
}
.project-wrap p{
    text-align: center;
}
.project-sticky-menu {
    display: flex;
    gap: 1rem;
    position: sticky;
    left: 0;
    top: 1rem;
    margin-top: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
    z-index: 1000;
}
.project-sticky-menu a {
    display: block;
    background-color: #000;
    padding: 0.5rem 2rem;
    border: 1px solid #000;
    border-radius: 50px;
    color: #FCFDF9;
}
.project-sticky-menu a:hover{
    border: 1px solid #000;
    background-color: #FCFDF9;
    color: #000;    
    z-index: 500;
}
.project-img{
    margin-right: auto;
    margin-left: auto;
}
.project-img picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact {
    background-color: #FCFDF9;
    /* height: 115vh; */
    width: 100%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    max-height: 953px;
    padding-bottom: 1rem;
}
.contact-mail-phone{
    text-align: right;
    margin-top: 10rem;
    margin-right: 2rem;
}
.contact-menu{
    margin-top: 2rem;
}
.contact-menu li{
    margin-top: 1rem;
}
.contact figure{
    bottom: 76px;
}
.project-detail{
    text-align: center;
    margin: 3rem;
}

.project-detail h3{
    margin-bottom: 1rem;
}
/* @media (max-width:1790px){
    .poster-wrap {
    margin-right: 6%;
} */
@media (max-width:1430px){
    /* .ch{
        flex:7
    }
    .ch2{
        flex: 4;
    }
    .ch3{
        flex: none;
    } */
    .banner-txt h4{
    flex: 4;
    }
    .banner-txt p{
        flex: 6;
    }
    .banner-wrap {
        width: 94%;
    }
}
@media (max-width:1330px){
    .poster-wrap {
        /* margin-right: 5%; */
        flex-grow: 1;
    }
}
/* @media (max-width:1240px){
    .poster-wrap {
    margin-right: 4%;
}
}
@media (max-width:1150px){
    .poster-wrap {
    margin-right: 3%;
}
} */