.bg-vi{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
} 
.bg-vi video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero {
    background-color: #F2F2F2;
    height: 120vh;
    width: 100%; /* 70vw에서 100%로 변경 */
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}
.hero .sub-title{
    margin-top: 200px;
}
.hero-title{
    text-align: left;
    margin-right: 2rem;
}
.hero-title h1{
    font-size: 46px;
    line-height: 90%;
    margin-top: 0.5rem;
}
.bottom-title{
    margin-top: 180px;
    text-align: right;
    margin-right: 2rem;
    width: 100%;
}
.hero figure {
    width: 800px;
    position: absolute;
    bottom: 200px;
    left: -6%;
}
.hero figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.deco1 {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    border-left: 2px solid #fff;
    color: #fff;
    display: flex;
    align-items: flex-end;
    z-index: 200;
}
.txt-r {
    transform: rotate(90deg);
    margin-bottom: 110px;
    white-space: nowrap;
    margin-left: -47px;
}
.about-me{
    background-color: #000;
    color: #fff;
    min-height: 500px;
    width: 100%;
}
.about{
    position: relative;
    min-height: 100vw;
    display: flex;
}
.about-title{
    padding-top: 6rem;
}
.about-title h1{
    font-size: 40px;
    margin-top: 0.25rem;
}
.about-txt{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.about-txt h3{
    margin-bottom: 1rem;
}
/* .txt1{
    margin-left: 304px;
}
.txt2{
    margin-left: 607px;
}
.txt3{
    margin-left: 910px;
} */
 .txt1{
    margin-left: 20%;
}
.txt2{
    margin-left: 40%;
}
.txt3{
    margin-left: 60%;
}
.about figure {
    max-width: 433px;
    aspect-ratio: 433/592;
    position: absolute;
    top: 45%;
    left: 0;
}
.about figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-txt-wrap{
    flex: 85;
}
.ch {
    flex: 7;
    position: sticky;
    height: 100vh;
    top:0;
    /* transform: translateY(-50%); */
    /* float: right; */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-right: 1.5rem; */
    z-index: 100;
    white-space: nowrap;
    /* padding-top: 14%; */
}
.ch-count{
    font-size: 1.5rem;
    font-weight: var(--weight1);
    margin-bottom: 0.5rem;
}
.ch-txt{
    writing-mode: vertical-lr;
    transform: rotate(0deg);
}
.img-txt{
    margin-left: 40%;
    margin-top: 15%;
}
.img-txt h2{
    margin-bottom: 0.5rem;
}
.my-info {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.my-info div{
    display:  flex;
    gap: 1rem;
    width: 100%;
}
.my-info dt{
    width: 130px;
    font-weight: var(--weight1);
}
.education{
    display: flex;
    margin-top: 200px;
}
