@media (max-width:1440px) {
    .hero-title h1{
        font-size: 40px;
    }
    .hero .sub-title {
        margin-top: 160px;
    }
    .hero figure {
        width: 550px;
    }
    .txt1{
    margin-left: 0;
    }
    .txt2{
        margin-left: 80px;
    }
    .txt3{
        margin-left: 160px;
    }
    .about-txt{

    }
    .about-title h1 {
    font-size: 35px;
    margin-top: 0.25rem;
    }
    .about figure {
        width: 301px;
        top: 71%;
        left: 0%;
    }
}