@media (max-width:786px) {
    .hero{
        width: 100vw;
        height: 70vh;
    }
    .hero-title{
        text-align: left;
        margin-right: 1rem;
        /* margin-left: 1rem; */
        margin-left: 1rem;
    }
    .hero-title h1{
        font-size: 30px;
    }
    .hero .sub-title {
        margin-top: 120px;
    }
    .deco1{
        display: none;
    }
    .bottom-title{
        margin-right: 1rem;
        margin-top: 80px;
    }
    .hero figure {
        width: 100%;
    }
}